<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">


<div class="container">
  <img src="assets/spaceship.png" class="spaceship" id="spaceship" alt="Nave Espacial">
  <div class="smoke-container" id="smoke-container"></div>

  <!-- Se agregó más espacio arriba para evitar que la URL tape el título -->
  <h1>
    <i class="fab fa-github"></i> Mis Proyectos en GitHub
</h1>


  <div class="proyectos-container">
    <div class="proyecto">
      <h2>SISGEMA - Sistema de Gestión de Matrículas IESTP LAREDO</h2>
       <!-- Contenedor de imágenes de tecnologías utilizadas -->
      <div class="tech-icons">
        <img src="assets/html5.png" alt="HTML5" title="HTML5">
        <img src="assets/css_2.png" alt="CSS" title="CSS">
        <img src="assets/php.png" alt="PHP" title="Php">
        <img src="assets/mysql.png" alt="MySQL" title="Base de Datos MySQL">
        <img src="assets/js_3.png" alt="JS" title="JavaScript">   
      </div>
      <p>
        SISGEMA - Sistema de Gestión de Matrículas IESTP Laredo es una plataforma web
        diseñada para administrar el proceso de matrícula en el Instituto de Educación
        Superior Tecnológico Público (IESTP) Laredo. Permite gestionar la inscripción de 
        estudiantes, asignación de cursos, control de pagos y generación de reportes
        académicos y administrativos, optimizando la gestión educativa con mayor eficiencia
        y precisión.
      </p>
      <div class="boton-container">
        <a href="https://github.com/SaaveDar/sismatricula" target="_blank">Ver en GitHub</a>
      </div>
    </div>

    <div class="proyecto">
      <h2>Proyecto Ori Retail</h2>
      <div class="tech-icons">
        <img src="assets/vb_2.png" alt="Visual Basic" title="Visual Basic">
        <img src="assets/net-framework_3.png" alt=".Net" title=".NET">
        <img src="assets/sql_2.png" alt="SQL SERVER" title="Base de Datos SQL SERVER">
      </div>
      <p>
        Ori Retail es un sistema de gestión de medicamentos diseñado 
        para farmacias, que permite administrar compras, ventas, proveedores y 
        stock de productos farmacéuticos. Facilita el control de inventarios, la 
        facturación, la trazabilidad de medicamentos y la gestión de clientes, 
        optimizando los procesos operativos y mejorando la eficiencia en la atención al 
        público.
      </p>
      <div class="boton-container">
        <a href="https://github.com/SaaveDar/SistemaComercialOri-v2.0" target="_blank">Ver en GitHub</a>
      </div>
    </div>

    <div class="proyecto">
      <h2>MediRetail X</h2>
      <div class="tech-icons">
        <img src="assets/html5.png" alt="HTML5" title="HTML5">
        <img src="assets/css_2.png" alt="CSS" title="CSS">
        <img src="assets/php.png" alt="PHP" title="Php">
        <img src="assets/mysql.png" alt="MySQL" title="Base de Datos MySQL">
        <img src="assets/js_3.png" alt="JS" title="JavaScript">   
      </div>
      <p>
        MediRetailX es un sistema WEB de gestión de stock de medicamentos para farmacias y 
        establecimientos de salud. Permite administrar el inventario con registro por lote, 
        número de registro sanitario, precios, laboratorio, unidades disponibles y fechas de 
        vencimiento. Incluye funciones de venta con emisión de facturas y boletas, un catálogo 
        de productos y un sistema de alertas para notificar sobre productos próximos a vencer, 
        asegurando un control eficiente y seguro del stock.
      </p>
      <div class="boton-container">
        <a href="https://github.com/SaaveDar/MediRetailX" target="_blank">Ver en GitHub</a>
      </div>
    </div>
  </div>
</div>
