<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">


<div class="container">
  <img src="assets/spaceship.png" class="spaceship" id="spaceship" alt="Nave Espacial">
  <div class="smoke-container" id="smoke-container"></div>

  <!-- Se agregó más espacio arriba para evitar que la URL tape el título -->
  <h1>
    <i class="fab fa-github"></i> Mis Proyectos en GitHub
</h1>


  <div class="proyectos-container">
    <div class="proyecto">
      <h2>SISGEMA - SISTEMA DE GESTIÓN DE MATRICULAS IESTP LAREDO</h2>
      <p>
        SISGEMA - Sistema de Gestión de Matrículas IESTP Laredo es una plataforma
        diseñada para administrar el proceso de matrícula en el Instituto de Educación
        Superior Tecnológico Público (IESTP) Laredo. Permite gestionar la inscripción de 
        estudiantes, asignación de cursos, control de pagos y generación de reportes
        académicos y administrativos, optimizando la gestión educativa con mayor eficiencia
        y precisión.
      </p>
      <div class="boton-container">
        <a href="https://github.com/SaaveDar/sismatricula" target="_blank">Ver en GitHub</a>
      </div>
    </div>

    <div class="proyecto">
      <h2>Proyecto Ori Retail</h2>
      <p>
        Ori Retail es un sistema de gestión de medicamentos diseñado 
        para farmacias, que permite administrar compras, ventas, proveedores y 
        stock de productos farmacéuticos. Facilita el control de inventarios, la 
        facturación, la trazabilidad de medicamentos y la gestión de clientes, 
        optimizando los procesos operativos y mejorando la eficiencia en la atención al 
        público.
      </p>
      <div class="boton-container">
        <a href="https://github.com/SaaveDar/SistemaComercialOri" target="_blank">Ver en GitHub</a>
      </div>
    </div>

    <div class="proyecto">
      <h2>MediRetail X</h2>
      <p>
        MediRetailX es un sistema de gestión de stock de medicamentos para farmacias y 
        establecimientos de salud. Permite administrar el inventario con registro por lote, 
        número de registro sanitario, precios, laboratorio, unidades disponibles y fechas de 
        vencimiento. Incluye funciones de venta con emisión de facturas y boletas, un catálogo 
        de productos y un sistema de alertas para notificar sobre productos próximos a vencer, 
        asegurando un control eficiente y seguro del stock.
      </p>
      <div class="boton-container">
        <a href="https://github.com/SaaveDar/MediRetailX" target="_blank">Ver en GitHub</a>
      </div>
    </div>
  </div>
</div>
