<nav class="navbar">
  <ul>
    <li id="navInicio"><a routerLink="/">Inicio</a></li>
    <li id="navProyectos"><a routerLink="/proyectos">Proyectos</a></li>
    <li id="navCertificados"><a routerLink="/certificados">Certificados</a></li>
    <li id="navCvHarvard"><a routerLink="/cv-harvard">CV Harvard</a></li>
  </ul>
</nav>


<router-outlet></router-outlet>


<!-- Tooltip flotante para cada botón del menú -->
<div 
  class="tooltip-box" 
  *ngIf="navTourActive" 
  [ngStyle]="tooltipStyle"
>
  <p>{{ navSteps[currentNavStep].desc }}</p>
  <div class="tooltip-buttons">
    <button class="primary-btn" (click)="nextNavStep()">Next</button>
    <button class="secondary-btn" (click)="skipNavTour()">Skip</button>
  </div>
</div>
