<nav class="navbar">
  <ul>
    <li id="navInicio"><a routerLink="/">Sobre mí</a></li>
    <li id="navProyectos"><a routerLink="/proyectos">Proyectos</a></li>
    <li id="navCertificados"><a routerLink="/certificados">Cursos & Certificados</a></li>
    <li id="navCvHarvard"><a routerLink="/cv-harvard">Curriculum Vitae</a></li>
  </ul>
</nav>


<router-outlet></router-outlet>


<!-- Tooltip flotante para cada botón del menú -->
<div 
  class="tooltip-box" 
  *ngIf="navTourActive" 
  [ngStyle]="tooltipStyle"
>
  <p>{{ navSteps[currentNavStep].desc }}</p>
  <div class="tooltip-buttons">
    <button class="primary-btn" (click)="nextNavStep()">Next</button>
    <button class="secondary-btn" (click)="skipNavTour()">Skip</button>
  </div>
</div>


<footer>
  <div class="copyright">
    <span>© 2025 Sitio Web desarrollado con Angular 19.</span>
    <span>Todos los derechos reservados a Darley Evangelista .</span>
    <img src="assets/angular.png" alt="Angular" title="Angular">  
  </div>
</footer>


<a href="https://wa.me/51927615506" class="whatsapp-button" target="_blank">
  <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp">
</a>


<!-- Botón de Chat -->
<button class="chat-button" (click)="toggleChat()">💬</button>

<!-- Chat Emergente -->
<div class="chat-box" *ngIf="chatOpen">
  <div class="chat-header">
    <!--<span>🤖 Asistente Virtual</span>-->
    <img src="assets/gif2.gif" alt="Asistente" class="chat-avatar"> 
    <span>Asistente Virtual</span>
    <button class="close-btn" (click)="closeChat()">✖</button>
  </div>
  <div class="chat-content">
    <div *ngFor="let msg of messages" class="chat-message" 
      [ngClass]="{'user-message': msg.sender === 'Tú', 'assistant-message': msg.sender === 'Asistente'}">
      <div class="message" [innerHTML]="msg.text"></div>
    </div>
  </div>
  <div class="chat-input">
    <input type="text" [(ngModel)]="userMessage" (keyup.enter)="sendMessage()" placeholder="Escribe tu pregunta..." />
    <button (click)="sendMessage()">Enviar</button>
  </div>
</div>



